<?xml version="1.0" encoding="us-ascii"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=us-ascii" />
  <meta
  content="David Hall, Production Sound Mixer and Location Recordist based in Stockport, Manchester"
  name="description" />
  <meta content="sound recordist mixer manchester north west deva IV 4"
  name="keywords" />
  <meta content="MAUgjCcEGvnQrrcmJjPkgQp4aQAtrvYURus7Mn3Z/0s=" name="verify-v1"
  />
  <!--Google Webmaster www.dhsound.co.uk verification -->
  <meta content="_SRM9XROdXDgAh-dr5Qeo21KfxkfeCg9zWNS8UsYRaY"
  name="google-site-verification" />
  <!--Google Webmaster dhsound.co.uk verification -->
  <title>David Hall - Credits</title>
  
  <!-- Bootstrap -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Lora:400,700' rel='stylesheet' type='text/css'>
  <!-- Stylesheet -->
  <link rel="stylesheet" type="text/css" href="../stylesheet.css" />
  <!-- Icon -->
  <link rel="shortcut icon" type="image/x-icon" href="../pictures/favicon.ico" />
  <!-- AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <!-- Script -->
  <script src="../scripts/script.js"></script>
</head>

<body ng-app="myApp">
<div class="jumbotron">
  <div class="container inner">
    <a href="../index.html"><h1>David Hall <small>Sound Mixer</small></h1></a>
    <p>Member of the Association of Motion Picture Sound, &nbsp;AMPS&nbsp; and the Institute of Professional Sound, &nbsp;MIPS</p>
  </div>
  
</div>
<div style="padding-bottom: 30px;">
<table summary="phone 07973 385746 or email david@dhsound.co.uk"
style="text-align: center; width: 100%;" cellpadding="2">
  <tbody>
    <tr>
      <td><span class="glyphicon glyphicon-earphone"></span> 07973 385746</td>
    </tr>
    <tr>
      <td><span class="glyphicon glyphicon-envelope"></span> <script type="text/javascript">
                    //<![CDATA[
                    document.write("david" + "@" + "dhsound" + ".co" + ".uk");
                    //]]>
                    </script>
        <br />
      </td>
    </tr>
  </tbody>
</table>
</div>

        <div id="drama" class="project" ng-controller="projectsCtrl">
          <div class="container">
            <h1 class="section-header">Drama</h1>
            <div class="row" style="padding-bottom:20px;">
              <div class="col-sm-3" ng-repeat-start="item in projects">
                <a href="{{item.url}}"><h3 class="project-title">{{item.title}}</h3></a>
                <p>{{item.description}}</p>
              </div>
              <div class="clearfix" ng-if="$index%4==3"></div>
              <div ng-repeat-end=""></div>
            </div>
          </div>
        </div>

        <div id="documentaries" class="project" ng-controller="projectsCtrl">
          <div class="container">
            <h1 class="section-header">Documentaries</h1>
            <div class="row" style="padding-bottom:20px;">
              <div class="col-sm-3" ng-repeat-start="item in documentaries">
                <a href="{{item.url}}"><h3 class="project-title">{{item.title}}</h3></a>
                <p>{{item.description}}</p>
              </div>
              <div class="clearfix" ng-if="$index%4==3"></div>
              <div ng-repeat-end=""></div>
            </div>
          </div>
        </div>

        <div id="pop-promo" class="project" ng-controller="projectsCtrl">
          <div class="container">
            <h1 class="section-header">Pop Promo and Commercial</h1>
            <div class="row" style="padding-bottom:20px;">
              <div class="col-sm-3" ng-repeat-start="item in projects">
                <a href="{{item.url}}"><h3 class="project-title">{{item.title}}</h3></a>
                <p>{{item.description}}</p>
              </div>
              <div class="clearfix" ng-if="$index%4==3"></div>
              <div ng-repeat-end=""></div>
            </div>
          </div>
        </div>

        <div id="second-unit" class="project" ng-controller="projectsCtrl">
          <div class="container">
            <h1 class="section-header">2nd Unit</h1>
            <div class="row" style="padding-bottom:20px;">
              <div class="col-sm-3" ng-repeat-start="item in projects">
                <a href="{{item.url}}"><h3 class="project-title">{{item.title}}</h3></a>
                <p>{{item.description}}</p>
              </div>
              <div class="clearfix" ng-if="$index%4==3"></div>
              <div ng-repeat-end=""></div>
            </div>
          </div>
        </div>   

<div class="container">
  <table summary="Page bottom links" border="0" cellpadding="5" cellspacing="0" width="100%">
    <tbody>
      <tr>
        <td><a href="../pages/sitemap.html">Sitemap</a></td>
        <td><a href="../pages/linksandcontact.html">Links/Contact Page</a></td>
        <td><a href="../pages/credits.html">Credits</a></td>
        <td><a target="_blank" href="http://www.imdb.com/name/nm0355474/"><img
          alt="Link to IMDb entry" src="../icons/imdblogo.png" border="0" /></a></td>
        <td><a target="_blank" href="http://www.amps.net"><img
          alt="Link to AMPS Directory" src="../icons/smallamps.gif" border="0"
        /></a></td>
        <td><a target="_blank"
          href="http://www.ips.org.uk/david-ian-hall-p497.html"><img
          alt="Link to IPS Directory" src="../icons/ipslinktomebutton.jpg"
          border="0" /></a></td>
        <td><a target="_blank"
          href="http://www.linkedin.com/pub/david-hall/15/5b0/75a"><img
          alt="Link to LinkedIn profile" src="../icons/linkedin.jpg" border="0"
          /></a></td>
        <td><a target="_blank" href="http://validator.w3.org/about.html"><img
          alt="Valid XHTML 1.0 Transitional" src="../icons/valid-xhtml1.jpg"
        /></a></td>
      </tr>
    </tbody>
  </table>
</div>


<div class="container">
<h5>Website&nbsp; &copy; 2006-16 DH Sound Ltd</h5>
</div>
<!-- Start of StatCounter Code -->
<script type="text/javascript">
var sc_project=1463040; 
var sc_invisible=1; 
var sc_security="77773da6"; </script>
<script type="text/javascript"
src="http://www.statcounter.com/counter/counter_xhtml.js">
</script>

<noscript>

<div class="statcounter">
<a href="http://www.statcounter.com/tumblr/" class="statcounter"
title="tumblr analytics"><img alt="tumblr analytics"
src="http://c.statcounter.com/1463040/0/77773da6/1/" class="statcounter"
/></a></div>
</noscript>
<!-- End of StatCounter Code -->
</body>
</html>
